<div id="about">
    <h2>About</h2>
    <p>All source code is licensed under the <a href="http://www.gnu.org/licenses/lgpl.html" target="_blank">GNU Lesser General Public License.</a></p>
    <p>Additional information can be found in <a href="http://www.webpirates.nl/webpirates/robin-van-der-knaap/57-autopoco-create-meaningful-testdata-based-on-your-domain-objects-net" target="_blank">this</a> blogarticle.</p>
    <p>Source is hosted on <a href="https://github.com/robinvanderknaap/AutoPoco-Datasources" target="_blank">github</a>.</p>
</div>

<div id="logo">
    <a href="http://webpirates.nl" target="_blank"><img src="@Url.Content("~/Content/WP-logo-oomph.jpg")" alt="Webpirates Logo" /></a>
</div>