<div id="about">
    <h2>About</h2>
    <p>All source code is licensed under the <a href="http://www.gnu.org/licenses/lgpl.html" target="_blank">GNU Lesser General Public License.</a></p>
    <p>Source and documentation is hosted on <a href="https://github.com/robinvanderknaap/AutoPoco.DataSources" target="_blank">github</a>.</p>
</div>

<div id="logo">
    <a href="http://webpirates.nl" target="_blank"><img src="@Url.Content("~/Content/skaele-b.png")" alt="Webpirates Logo" /></a>
</div>