@model IEnumerable<Example.Models.User>

<h2>Basic Example</h2>
<p>Example showing basic usage of AutoPoco using built-in datasources</p>
<fieldset id="output">
    <legend>Output</legend>
    <table id="outputTable">
        <tr>
            <th>
                Firstname
            </th>
            <th>
                Lastname
            </th>
            <th>
                Email
            </th>
            <th>
                Date of birth
            </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @item.Firstname
            </td>
            <td>
                @item.Lastname
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.DateOfBirth.ToShortDateString()
            </td>
        </tr>
    }
    </table>
</fieldset>
<fieldset id="code">
    <legend>Code</legend>
    <pre><h3>Poco:</h3>
public class User
{
    public int Id { get; set; }
    public string Firstname { get; set; }
    public string Lastname { get; set; }
    public string Email { get; set; }
    public DateTime DateOfBirth { get; set; }
}

<h3>AutoPoco:</h3>
var pocoFactory = AutoPocoContainer.Configure(x =>
{
    x.Conventions(c => c.UseDefaultConventions());
    x.AddFromAssemblyContainingType&lt;User&gt;();
    x.Include&lt;User&gt;()
        .Setup(u => u.Email).Use&lt;EmailAddressSource&gt;()
        .Setup(u => u.Firstname).Use&lt;FirstNameSource&gt;()
        .Setup(u => u.Lastname).Use&lt;LastNameSource&gt;()
        .Setup(u => u.DateOfBirth).Use&lt;DateOfBirthSource&gt;();
});

// Get session from factory
var pocoSession = pocoFactory.CreateSession();

// Get 10 users
var users = pocoSession.List&lt;User&gt;(10).Get();
    </pre>
</fieldset>
